.u-section-1 .u-sheet-1 {
  min-height: 1147px;
}

.u-section-1 .u-image-1 {
  width: 187px;
  height: 223px;
  margin: 0 auto 0 72px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: -191px 283px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 21px 0 0 415px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  margin: -207px auto 0 59px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 8px 822px 0 25px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: 4px auto 0 72px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(6, 197, 98) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 153px 822px 0 24px;
}

.u-section-1 .u-text-6 {
  margin: 6px 65px 0 25px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-align: justify;
  margin: 21px 747px 0 21px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 11px 68px 60px 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 747px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -250px;
    margin-left: 215px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -67px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 46px;
    margin-right: 647px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 341px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 646px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 568px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 217px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 427px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 203px;
    margin-right: 426px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -3px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 348px;
  }

  .u-section-1 .u-text-8 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 163px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -259px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 247px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 533px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 253px;
    margin-right: 246px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -53px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 278px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -278px;
    margin-right: 103px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -227px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -506px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 133px;
    margin-right: 47px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 757px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 403px;
    margin-right: 46px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -195px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }
}